<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <!-- Добавьте ссылки для перехода к формам добавления, редактирования и удаления товаров -->
    <ul>
        <li><a href="/admin/add">Добавить товар</a></li>
        <!-- Добавьте ссылки для других действий, например, редактирование и удаление -->
    </ul>
</body>
</html>
