
<%- include('partials/header', { title: 'Cart' }) %>

<h1>Cart</h1>
<% if (cartItems.length === 0) { %>
    <p class="text-left">Your cart is empty.</p>
<% } else { %>
    <div class="row">
        <% cartItems.forEach(item => { %>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title"><%= item.name %></h5>
                        <p class="card-text">$<%= item.price %></p>
                        <p class="card-text">Quantity: <%= item.quantity %></p>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
<% } %>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrap.com/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
