

<%- include('partials/header', { title: 'Спасибо за заказ!' }) %>
<main class="container mt-4">
    <div class="text-center">
        <h1>Спасибо за ваш заказ!</h1>
        <p>Ваш заказ успешно оформлен и отправлен в обработку.</p>
    </div>
</main>
<%- include('partials/footer') %>
